<div class="teamBox">
	<span class="tLogo100x <%= team.abbrv %>"></span>
	<% if(matchPred && matchPred.get("winner").id === team.objectId){ %>
		<input type="radio" name="winner" id="<%= team.objectId %>_Id" value="<%= team.objectId %>" checked="true">
	<% } else if(matchPred){ %>
		<input type="radio" name="winner" id="<%= team.objectId %>_Id" value="<%= team.objectId %>" disabled>
	<% } else { %>
		<input type="radio" name="winner" id="<%= team.objectId %>_Id" value="<%= team.objectId %>">
	<% } %>
			<label for="<%= team.objectId %>_Id"><%= team.fullName %></label>
		</input>
</div>